			body {
				font-family: Helvetica, Arial, sans-serif;
				color: #c41e12;
				padding: 22px;}
            h1 {
				padding: 12px;
				line-height: 2em;
                color: #081ee7;}
             h2, p {
				padding: 12px;
				line-height: 2em;
                color: #080808;
                border: 2px solid #7fcbae;
				padding: 5px;}
			a, a:hover, a:visited {
				color: #0fa81c;}
            i {color :#8e08e7;
                font-weight: bold;
                font-variant-caps: small-caps;
                border: 2px solid #080808;
				padding: 5px;
                border-left: 5px solid red;
                border-right: 5px solid red;}